<!DOCTYPE html>
<html>

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/style.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="/css/style.css"> 
<link href="/css/bootstrap.min.css" rel="stylesheet">

<title>Solapur Travel and Tourism</title>

<link href="/images/logo1.ico" rel="shortcut icon" />
</head>  
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif}

.contact
                {
                      width: 400px;
                      height: 600px;
                      background: #fff;
                      margin-left :900px;
                      box-sizing: border-box;
                      padding: 40px;
                      box-shadow: 0 0 20px rgba(72,98,85,0.6); 
                }
                
 span.ingredient {
    color: #f00;
}

</style>
 <link href="/images/logo1.ico" rel="shortcut icon" />
</head>

<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">
    


<nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-md navbar-dark bg-primary">
<div class="container-fluid">
<div class="navbar-header">
  <a class="navbar-brand" href="#">SOLAPUR TOURISM</a>
</div>
<div class="topnav-right">
<ul class="nav navbar-nav">
  
  <li class="active"><a href="Home">HOME</a></li>
  <li class="active"><a href="tour">TOUR PACKAGES</a></li>
      
 
  <li class="active"><a href="destination">DESTINATIONS</a></li>
  <li class="active"><a href="login">TRAVEL AGENT</a></li>
  
  <li class="active"><a href="login">DRIVER</a></li>

</ul>
</div>
</nav>
<br><br>

<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

  <!-- The Grid -->
  <div class="w3-row-padding">
  
    <!-- Left Column -->
    <div class="w3-third" style="width:70%">
    
      <div class="w3-white w3-text-grey w3-card-4">
        <div class="w3-display-container">
        </div>
         
        <div class="w3-container">
            <div class="container">
         <div class="row">	
  <h1>DESTINATIONS</h1>
</div>
 
 <div class="row">
  <h2><u>Machnur</u></h2>
 </div>
  <div class="row">
  <div class="col-sm-4">
    <img src="/images/machnur.jpg" alt="Snow" style="width:350px;height:200px;">
  </div>
  <div class="col-sm-4">
    <p><h5>This fort is in Machnur village which is well known by its Siddheshwar temple on the banks of Bhima river.</p></h5>
    <p><h5>Machnur village is 43 kms from Solapur and 21 kms from Pandharpur on Solapur <br> Pandharpur road, while its 12 kms from Mangalvedhe. The road in the village which takes us to the temple complex first further leads to the fort where the road ends.</p></h5>
  </div>
  
</div>
         
        <div class="row">
             <h5>.........................................................................................................................................................................................................</h5>
        </div>

<br>

<div class="row">
  <h2><u>Pandharpur</u></h2>
  </div>
  
  <div class="row">
  <div class="col-sm-4">
    <img src="/images/pandarpur.jpg" alt="Snow" style="width:350px;height:200px;">
  </div>
      
  <div class="col-sm-4">
    <p><h5>The Vithoba Temple, Pandharpur, officially known as Shri Vitthal-Rukmini Mandir (Marathi: श्री विठ्ठल-रूक्मिणी मंदिर), is a Hindu temple in Pandharpur in the Indian state of Maharashtra. It is the main centre of worship for Vithoba, a form of the god Vishnu or Krishna, and his consort Rakhumai. It is the most visited temple in Maharashtra.</p></h5>
	<p><h5>The total straight line distance between Solapur and Pandharpur is 61 KM (kilometers) and 800 meters. </p></h5>
	</div>
  
</div>

        <div class="row">
             <h5>.........................................................................................................................................................................................................</h5>
        </div>
        

<div class="row">
  <h2><u>Akkalkot</u></h2>
  </div>
  
  <div class="row">
  <div class="col-sm-4">
    <img src="/images/swami.jpg" alt="Snow" style="width:350px;height:200px;">
  </div>
  <div class="col-sm-4">
    <p><h5>Akkalkot Swami Samarth Maharaj Temple is located at a distance of 38 kms from the district of Solapur, Maharashtra. It is one of the main attractions in the city of Solapur. The temple is dedicated to Swami Samarth Maharaj, a 19th-century saint, who is believed to be an incarnation of Lord Dattatreya.</p></h5>
	<p><h5>Akkalkot Swami Samarth Maharaj Temple is situated in a very different manner than any other temples. The temple complex, also known as Vatavruksh Mandir, houses an ancient banyan tree. </p></h5>
	</div>
  
</div>
 
        <div class="row">
             <h5>.........................................................................................................................................................................................................</h5>
        </div>
 


<div class="row">
  <h2><u>Tuljabavani</u></h2>
</div>
  
  <div class="row">
      <div class="col-sm-4">
         <img src="/images/tuljabavani.jpg" alt="Snow" style="width:350px;height:200px;">
      </div>
      <div class="col-sm-4">
          <p><h5>Tuljabhavani Temple (Marathi: श्री क्षेत्र तुळजा भवानी देवस्थान) is a Hindu temple dedicated to the goddess Bhavani. <br><br>It is located in Tuljapur in Osmanabad district of Maharashtra and is considered as one of the 51 Shakti Pithas.<br><br> It is situated 45  km from Solapur.</p></h5>
	    
      </div>
    </div>
       
        <div class="row">
             <h5>.........................................................................................................................................................................................................</h5>
        </div>
  
        
    

    <div class="row">
 <h2><u>Ujani Dam</u></h2>
    </div>
  <div class="row">
      <div class="col-sm-4">
         <img src="/images/ujani.jpg" alt="Snow" style="width:350px;height:200px;">
      </div>
      <div class="col-sm-4">
          <p><h5>Ujani Dam, also known as Bhima Dam or Bhima Irrigation Project, on the Bhima River, a tributary of the Krishna River, is an earthfill cum Masonry gravity dam located near Ujjani village of Madha Taluk in Solapur district of the state of Maharashtra in India.</p></h5>
           <p><h5>The reservoir created by the 56.4 m (185 ft) high earth cum concrete gravity dam on the Bhima River has a gross storage capacity of 3.320 km3 (0.797 cu mi). The annual utilization is 2.410 km3 (0.578 cu mi).</h5></p>
	      <p><h5>The irrigation supplies benefit 500 km2 (190 sq mi) of agricultural land, particularly in the Solapur district. </p></h5>
           <p><h5>The total straight line distance between Solapur and Ujani Dam is 95 KM (kilometers).</p></h5>
      </div>
    </div> 
    
        <div class="row">
             <h5>.........................................................................................................................................................................................................</h5>
        </div>
        
     <h2><u>Science Center</u></h2>
<div class="row">
      <div class="col-sm-4">
         <img src="/images/science.jpg" alt="Snow" style="width:350px;height:200px;">
      </div>
      <div class="col-sm-4">
          <p><h5>The Solapur Science Centre is a unique tourist attraction in the city of Solapur. Particularly interesting for the science buffs, the museum is the third largest science centre in the state of Maharashtra.</p></h5>
           <p><h5>The Solapur Science Center is situated behind Solapur University on the National Highway 9 (NH 9) which is about 10 kms from the main city of Solapur.</h5></p>
	      <p><h5>Textile is unique to this science museum. Lot of exhibits in fun science gallery. Science park has talking dishes. Good place to spend 2 hrs of your time. </p></h5>
    
      </div>
    </div>   

     <div class="row">
             <h5>.........................................................................................................................................................................................................</h5>
        </div>
     
<h2><u>Naldurg</u></h2>
<div class="row">
      <div class="col-sm-4">
         <img src="/images/naldurg-fort.jpg" alt="Snow" style="width:350px;height:200px;">
      </div>
      <div class="col-sm-4">
          <p><h5>The fort of Naldurg is located about 45 km away from Solapur and is a famous historic monument. It is located in the Osmanabad District in the state of Maharashtra. The fort was earlier called Yeral, when it belonged to the Bahmani Sultans before it was passed on to the Mughal Empire.</p></h5>
           <p><h5>The Naldurg Fort is especially famous for its pretty waterfalls, commonly known as Nar and Madi – that translates to Male and Female in the local language. The view of these waterfalls is at its scenic best during the monsoons or the post monsoon period when they are in full swell, cascading down the lovely mountains.</h5></p>
      </div>
</div>
	
<div class="row">
             <h5>.........................................................................................................................................................................................................</h5>
        </div>

    <h2><u>Mahatma Gandhi Zoo</u></h2>
<div class="row">
      <div class="col-sm-4">
         <img src="/images/zoo.jpg" alt="Snow" style="width:350px;height:200px;">
      </div>
      <div class="col-sm-4">
          <p><h5>Mahatma Gandhi Zoo is a place of interest in Soni Nagar, located in the city of Solapur, Maharashtra. The Zoo is open to public throughout the week and offers some exquisite species of animals. It is located within Solapur city-limits. </p></h5>
           <p><h5>Visitors can take the proper advantage of the lush green and quiet environment of the zoo to see and observe the animals from a distance. Mahatma Gandhi Zoo is also a recreation spot for families as well as schools. </h5></p>
	   <p><h5>Mahatma Gandhi Zoo can be visited during timings 11:00 AM - 6:30 PM. The zoo remains closed during Wednesdays.</p></h5>
    
      </div>
        
</div>
    
    <div class="row">
             <h5>.........................................................................................................................................................................................................</h5>
        </div>
    

            </div>
        </div>
      </div><br>
   
    <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird" style="width:30%">
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"></h2>
        <div class="w3-container">
          <h5 class="w3-opacity">
              <h4><u>For Car Rental services Call</u></h4>
  <p><img src="//www.maduraitourism.com/wp-content/themes/tourpackage/images/call_us.png" />
   <span class="call-show"><span style="color: #ff5500 !important;"> +91 98429 16996</span>,<br />
<span style="color: #03a2ef; padding-left: 26px;">+91 99446 66899</span></span>
<span class="call-hide"><a href="tel:+9198429-16996"><span style="color: #ff5500 !important;"></span></a><br />
<a href="tel:+9199446-66899"><span style="color: #03a2ef; padding-left: 26px;"></span></a></span><br />
<span class="subtitle"><img src="//www.maduraitourism.com/wp-content/themes/tourpackage/images/email.png" />
    <a href="mailto:support@maduraitourism.com">support@solapurtourism.com</a></span></p>
               
    <h4><u>Destinations</u></h4>
<div class="menu-destinations-container">
    <ul id="menu-destinations" class="menu">
        <li id="menu-item-1924" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1924">
            <a href="//www.maduraitourism.com/index.php/destination/kanyakumari-travels">Naldurg</a></li>
        
        
<li id="menu-item-1925" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1925">
    <a href="//www.maduraitourism.com/index.php/destination/rameswaram-travels">Machnur</a></li>


<li id="menu-item-1926" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1926">
    <a href="//www.maduraitourism.com/index.php/destination/madurai-travels">Pandharpur</a></li>

<li id="menu-item-1927" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1927">
    <a href="//www.maduraitourism.com/index.php/destination/munnar-travels">Akkalkot</a></li>

<li id="menu-item-1928" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1928">
    <a href="//www.maduraitourism.com/index.php/destination/kodaikanal-travels">Tuljabhavani</a></li>

<li id="menu-item-1929" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1929">
    <a href="//www.maduraitourism.com/index.php/destination/thanjavur-travels">Ujani Dam</a></li>

<li id="menu-item-1930" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1930">
    <a href="//www.maduraitourism.com/index.php/destination/trichy-travels">Science Center</a></li>

<li id="menu-item-1931" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-1931">
    <a href="//www.maduraitourism.com/index.php/destination/chennai-travels">Zoo</a></li>

    </ul></div><h4><u>Tour Packages</u></h4><div class="menu-tour-packages-container">
    <ul id="menu-tour-packages" class="menu">
        
        <li id="menu-item-1932" class="menu-item menu-item-type-post_type menu-item-object-package menu-item-1932">
            <a href="https://www.maduraitourism.com/index.php/package/madurai-rameswaram-kanyakumari/">Zoo-Solapur</a></li>
        
<li id="menu-item-1933" class="menu-item menu-item-type-post_type menu-item-object-package menu-item-1933">
    <a href="https://www.maduraitourism.com/index.php/package/madurai-trichy-palani/">Machnur Temple</a></li>

<li id="menu-item-1934" class="menu-item menu-item-type-post_type menu-item-object-package menu-item-1934">
    <a href="https://www.maduraitourism.com/index.php/package/madurai-thekkady-munnar-cochin/">Fort-Naldurg</a></li>

<li id="menu-item-1935" class="menu-item menu-item-type-post_type menu-item-object-package menu-item-1935">
    <a href="https://www.maduraitourism.com/index.php/package/kodaikanal/">Swami Samarth Temple-Akkalkot</a></li>

<li id="menu-item-1936" class="menu-item menu-item-type-post_type menu-item-object-package menu-item-1936">
    <a href="https://www.maduraitourism.com/index.php/package/thanjavur/">Science Center-Solapur</a></li>

<li id="menu-item-1937" class="menu-item menu-item-type-post_type menu-item-object-package menu-item-1937">
    <a href="https://www.maduraitourism.com/index.php/package/kodaikanal-ooty/">Tuljabhavani-Tuljapur</a></li>

<li id="menu-item-1938" class="menu-item menu-item-type-post_type menu-item-object-package menu-item-1938">
    <a href="https://www.maduraitourism.com/index.php/package/six-abodes-of-lord-muruga/">Ujani Dam-Ujani</a></li>

<li id="menu-item-1939" class="menu-item menu-item-type-post_type menu-item-object-package menu-item-1939">
    <a href="https://www.maduraitourism.com/index.php/package/kanyakumari/">Vittal-Rukmini Temple-Pandharpur</a></li>

    </ul>
</div>	
<div class="textwidget"><div class="view"><a href="//www.maduraitourism.com/index.php/packages"></a></div>
 </div>
   </div>
     </div>
      </div>
          </div>
            </div>
    </div>
               </form>

    <!-- End Right Column -->
    </div>
    
  <!-- End Grid -->
  </div>
  
  <!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
    <div class="container footer-container">
				<div class="footer-widget-wrapper">
					<div class="row" style="text-align: center; padding-top: 10px;">
  <p>Contact : A.R. Saravanavel, Solapur.Ph: +91 98429-16996, +91 99446-66899,support@solapurtourism.com</p>
	24x7 Solapur Travels Car Rental Service<br>
  <div class="custom-sidebar widget_nav_menu" id="nav_menu-2" >
      <div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu">
                  <a style="color: white;" href="Home.jsp">Home</a><br>
<a style="color: white;" href="Tour.jsp">Tour Packages</a><br>
 <a style="color: white;" href="contactform1.jsp">Contact Us</a>
</ul></div></div>   
                          
                                        <div></div>
					</div> <!-- close row -->
                                        
              <div class="copyright-wrapper">
							<div class="copyright-border"></div>
							<div class="copyright-left">
							    &copy; 2017 - 2019 SolapurTourism <font style="font-size:14px;">&reg;</font>
							</div>
						</div>
										
		</div>
			</div> 
		
		
</footer>
</body>

</html>
