<html>


<body>
    <div>
 FirstName :    <%= mydataArray[0].firstname %>
 LastName : <%= mydataArray[0].lastname %>
<div>
 using For Loop
 <% for(var i=0;i < 2;i++){%>

 <li><%= mydataArray[i].firstname %></li>

 <%}%>
</div> 
    </div>
    <div>
 Using If Conditin:
 <% if(mydataArray[0].firstname=='abc') {%>
    <li>True</li>
<%}%>
    </div>
</body>
</html>