<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
         <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
 
 
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="style.css"> 
  
  
  <title>Solapur Travel and Tourism</title>

  <link href="logo1.ico" rel="shortcut icon" />
  <style>
      table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
  </style>
        
    </head>
    
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


<nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SOLAPUR TOURISM</a>
    </div>
    <div class="topnav-right">
    <ul class="nav navbar-nav">
      
      <li class="active"><a href="Home.jsp">HOME</a></li>
      <li class="active"><a href="Tour.jsp">TOUR PACKAGES</a></li>
          
     
      <li class="active"><a href="Destinations.jsp">DESTINATIONS</a></li>
       <li class="active"><a href="cargallery.jsp">OUR CAR GALLERY</a></li>
      <li class="active"><a href="contactform1.jsp">CONTACT US</a></li>

    </ul>
  </div>
</nav>

<br><br><br><br><br>


 <div class="container">
     <div class="row">
         <div class="col-sm-8">
         <h3><b>Solapur-Pandharpur-Tuljapur Packages</b></h3>
         </div>
         <div class="col-sm-4">
             <h3><a href="try.jsp"><button>BookNow</button></a></h3>
         </div>
     </div>
     
     
     <div class="row">
         <div class="col-sm-8">
         <h5 class="text-danger"><b>TOUR SCHEDULE</b></h5>
         <h5 class="text-primary"><b>DAY 01:Solapur-Pandharpur</b></h5>
         <h5><strong>Arrival at Solapur and Proceed for Local site seeing.</strong></h5>
         <p>Solapur Siddheshwar temple, Rupabhavani temple, Hingulambika temple, Shri Sai baba temple</p>
         <h5><strong>Then ready for go to Pandarpur and stay there overnight.</strong></h5>
         <p>Pandharpur Famous Shri Vittal God temple.</p>
         <h5>..............................................................................................................................................................................</h5>
         </div>
        
     </div>
     <br><br>
     <div class="row">
         <div class="col-sm-8">
         <h5 class="text-primary"><b>DAY 02:Tuljapur</b></h5>
         <h5><strong>Arrival at Tuljapur on day 2, seeing the famous place at there</strong></h5>
         <p>Tulajapur Shri Tulajabavani temple.Tour Ends!!!</p>
         <h5>..............................................................................................................................................................................</h5>
         </div>
     </div>
     
  </div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
    <div class="container footer-container">
				<div class="footer-widget-wrapper">
					<div class="row" style="text-align: center; padding-top: 10px;">
  <p>Contact : A.R. Saravanavel, Solapur.Ph: +91 98429-16996, +91 99446-66899,support@solapurtourism.com</p>
	24x7 Solapur Travels Car Rental Service<br>
  <div class="custom-sidebar widget_nav_menu" id="nav_menu-2" >
      <div class="menu-footer-menu-container"><ul id="menu-footer-menu" class="menu">
                  <a style="color: white;" href="Home.jsp">Home</a><br>
<a style="color: white;" href="Tour.jsp">Tour Packages</a><br>
 <a style="color: white;" href="contactform1.jsp">Contact Us</a>
</ul></div></div>   
                          
                                        <div></div>
					</div> <!-- close row -->
                                        
                                        <div class="copyright-wrapper">
							<div class="copyright-border"></div>
							<div class="copyright-left">
							    &copy; 2017 - 2019 SolapurTourism <font style="font-size:14px;">&reg;</font>
							</div>
						</div>
										
		</div>
			</div> 
		
		
</footer>

</body>
</html>
