<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <title>Solapur Travel and Tourism</title>

  <link href="logo1.ico" rel="shortcut icon" />
        
  <style>
      table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #dddddd;
}
  </style>
  
    </head>
    
    <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="60">


<nav class="navbar navbar-inverse navbar-fixed-top navbar-expand-md navbar-dark bg-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">SOLAPUR TOURISM</a>
    </div>
    <div class="topnav-right">
    <ul class="nav navbar-nav">
      
      <li class="active"><a href="home">HOME</a></li>
      <li class="active"><a href="tour">TOUR PACKAGES</a></li>
          
     
      <li class="active"><a href="destination">DESTINATIONS</a></li>
      <li class="active"><a href="CustomerLogin">CUSTOMER LOGIN</a></li>
      
    </ul>
  </div>
</nav>

<br><br><br><br><br>


 <div class="container">
     <div class="row">
         <div class="col-sm-8">
         <h3><b>Solapur-ScienceCenter-Zoo Pakages</b></h3>
         </div>
         <div class="col-sm-4">
             <h3><b>Car Details</b></h3>
         </div>
     </div>
     <br><br>
     
     <div class="row">
         <div class="col-sm-8">
         <h5 class="text-danger"><b>TOUR SCHEDULE</b></h5>
         <h5 class="text-primary"><b>DAY 01:Solapur-ScienceCenter-Zoo</b></h5>
         
         <h5><strong>Arrival at Solapur and Proceed for Local site seeing.</strong></h5>
         <p>Solapur Siddheshwar temple, Rupabhavani temple, Hingulambika temple, Shri Sai baba temple</p>
         <h5><strong>Then ready for go to some more places.</strong></h5>
         <p>Solapur Science Center, Solapur Mahatma Ghandi Zoo<br>Solapur Park Stadium.<br>Tour Ends!!!</p>
         <h5>..............................................................................................................................................................................</h5>         </div>
         
     <div class="col-sm-4">
         <table>
  <tr>
    <th>Company_Name</th>
    <th>Car_Number</th>
    <th>Car_Capacity</th>
  </tr>
  <tr>
    <td>Ford</td>
    <td>MH-2435</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Ford</td>
    <td>MH-4355</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Ford</td>
    <td>MH-3567</td>
    <td>10</td>
  </tr>
  <tr>
    <td>Ford</td>
    <td>MH-6435</td>
    <td>10</td>
  </tr>
  <tr>
   <td>Ford</td>
    <td>MH-9823</td>
    <td>10</td>
  </tr>
  
</table>
         </div>
     
     </div>
          </div>
    </body>
</html>
