.topnav-right {
  float: right;
}

.navbar {
    min-height: 70px;
}

.navbar-custom {
    background-color: #ff5500;
}

.text1{
  font-size: 45px;
  text-align: center;
}


.bg-grey {
    background-color: #f6f6f6;
  }
.text-block {
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 60px;
}

.container {
  position: relative;
  font-family: Arial;
}

